// Add any custom base CSS can go here

html {
  @apply antialiased text-base;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  @screen md {
    @apply text-lg;
  }
}

body {
  @apply bg-primaryBg text-brown-800 font-sans;
}

::selection { @apply bg-primary-base text-primaryBg; }

a {
  @apply text-primary-base transition duration-100;
  &:hover { @apply  text-primary-700 no-underline transition duration-100; }
}

.wp-block-separator {
  @apply border-0 border-b border-brown-800;
}

img { @apply rounded; }

p {
  @apply text-base;
}

main {
  ul {
    @apply pl-4;
  }
  ul,li {
    list-style: disc;
  }
}

