.custom_layout {
  @apply flex flex-wrap max-w-4xl justify-center mx-auto px-8 mt-24 mb-20;

  @screen md {
    @apply px-10;
  }

  &__container {
    @apply max-w-4xl mx-auto px-8 mt-24 mb-20;
  }
}

.custom_container {
  @apply w-full;

  @screen lg {
    @apply w-3/4 pr-10;
  }
}
