.custom_layout {
  @apply max-w-4xl mx-auto px-8 mt-24 mb-20;

  #pageTitle {
    @apply hidden;
  }

  #innerTitle {
    @apply font-bold text-5xl font-title mb-4 text-primary-base;

    @screen md {
      @apply text-5xl;
    }
  }
}
