local.json

# macOS
.DS_Store
.AppleDouble
.LSOverride

# build
!build/
build/css/
build/js/
!build/mix-mainifes.json

# Thumbnails
._*

# VS code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


#node.js
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# dotenv environment variables file
.env
.env.test

# Yarn Integrity file
.yarn-integrity

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Optional npm cache directory
.npm


# Dependency directories
node_modules/
jspm_packages/