@import "lib/mixins";

// base
@import "~tailwindcss/base";
@import "partials/index";

// components
@import "~tailwindcss/components";
@import "components/index";

// pages
@import "pages/index";

// utilities
@import "~tailwindcss/utilities";
