// base
@import "~tailwindcss/base";
@import "base/index";

// components
@import "~tailwindcss/components";
@import "components/index";

// pages
@import "pages/index";

// utilities
@import "~tailwindcss/utilities";
