.button {
  &__link, 
  &__link:visited {
    @apply py-2 px-4 rounded font-normal text-base transition-all duration-100 text-primaryBg bg-primary-base;
  }
  &__link:hover,
  &__outline:hover {
    @apply text-primaryBg no-underline not-italic bg-primary-700;
  }
  &__outline {
    @apply rounded font-normal text-base transition-all duration-100 bg-brown-100 text-primary-base border border-solid border-primary-base;
    padding: calc(0.5rem - 1px) calc(1rem - 1px);
  }
}
.button + .button,
button + button,
.button__link + .button__link,
.button__link + .button__outline
 {
  @apply ml-2;
}