.button {
  &__link, 
  &__link:visited {
    @apply btn btn-primary;
  }
  &__link:hover,
  &__link_outline:hover {
    @apply text-primaryBg no-underline not-italic bg-primary-400;
  }
  &__link_outline {
    @apply btn btn-secondary;
  }
}