.post_preview {
  @apply py-5 flex flex-col;

  @screen md { @apply flex-row py-9; }

  &__thumbnail {
    @apply inline-block w-full mb-3 overflow-hidden rounded-md;

    @screen md { @apply w-1/3 mb-0; }

    img {
      @apply h-full w-full object-cover object-center transition-all duration-100;
    }

    & a:hover {
      img {
        @apply transform scale-105;
      }
    }

    & + .post_preview__content {
      @apply inline-block w-full;

      @screen md { @apply w-3/4 pl-3; }
    }

  }

  &__detail {
    @apply text-brown-400 text-xs;
  }

  &__title {
    @apply font-bold text-lg font-sans;
  }

  &__excerpt {
    @apply my-1;
  }


  &__link {
    @apply mt-5 text-sm;
  }
}