.post_preview {
  @apply py-5 border-b flex flex-col  border-brown-800;

  @screen md {
    @apply flex-row py-8;
  }

  &__thumbnail {
    @apply inline-block w-full h-36 mb-3 overflow-hidden;

    @screen md { @apply w-1/4 h-40 mb-0; }

    img {
      @apply h-full w-full object-cover object-center transition-all duration-100;
    }
    & a:hover {
      img {
        @apply transform scale-105;
      }
    }

    & + .post_preview__content {
      @apply inline-block w-full;

      @screen md {
        @apply  w-3/4 pl-5 -mt-2;
      }
    }
    
  }

  &__detail {
    @apply text-brown-400 text-sm;
  }

  &__title {
    @apply font-bold text-3xl mb-4;

    @screen md {
      @apply mb-5;
    }
    & a:hover {
      @apply text-primary-400 no-underline;
    }
  }

  &__link {
    @apply mt-5 text-sm;
  }
}