.custom_posts_pagination {
  .screen-reader-text {
    @apply hidden;
  }

  .nav-links { @apply mx-auto my-5; }

  .page-numbers {
    @apply flex flex-wrap justify-center list-none;
    li { @apply mx-1 text-sm list-none; }
    span { @apply p-1; }

    a {
      @apply text-brown-400 py-1 px-2 rounded;

      &:hover {
        @apply no-underline not-italic text-primaryBg bg-primary-base ;
      }
    }
  }
}