.recent_posts {
  @apply pt-8 mt-5;

  a:hover {
    @apply no-underline;

    h3 { @apply text-primary-400; }

    img { @apply transform scale-105; }
  }

  small { @apply text-brown-400 text-xs; }

  &__container {
    @apply grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-8 mt-8;
  }

  &__title {
    @apply text-2xl font-bold font-serif;
  }

  &__thumbnail {
    @apply overflow-hidden mt-2 h-40 flex justify-center items-center;

    @screen md { @apply h-44 mt-3; }

    img {
      @apply object-center object-cover transition-all duration-75;
    }
  }

  &__goBlog { 
    @apply mt-10 text-center;
    @screen md { @apply mt-12; }
  }
}