.recent_posts {
  @apply pt-8 mt-5;

  a:hover {
    img { @apply transform scale-105; }
  }

  small { @apply text-brown-400 text-xs; }

  &__container {
    @apply grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-8 mt-8;
  }

  &__title {
    @apply text-xl font-bold font-sans;
  }

  &__thumbnail {
    @apply overflow-hidden mb-2 h-44 flex justify-center items-center rounded-md;

    @screen md { @apply h-52 mt-3; }
    a { @apply h-full; }
    img {
      @apply object-center object-cover transition-all duration-100 h-full;
    }
  }

  &__goBlog { 
    @apply mt-10 text-center;
    @screen md { @apply mt-12; }
  }
}