$module: '.custom_widget';

#{$module} {
  @apply mb-6;

  &__title {
    @apply font-semibold mb-2 w-full;
  }
  li, a, p {
    @apply text-sm;
  }
}

#{$module}.widget_categories {
  ul {
    @apply list-disc ml-4;

    li {
      @apply mb-1;
    }
  }
}

#{$module}.widget_tag_cloud {
  a {
    @apply px-2 py-1 mb-1 bg-brown-100 inline-block border border-brown-100 rounded;
    font-size: .7rem !important;

    &:hover {
      @apply bg-primary-base text-primaryBg ;
    }
  }
}

#{$module}.widget_recent_entries {
  ul {
    @apply list-disc;

    li {
      @apply mb-2;

      &::marker {
        @apply text-sm text-brown-500;
      }
    }
  }
}

#{$module}.widget_archive ul li {
  @apply text-brown-400 mb-1 text-brown-400 text-xxs;
  &::marker { 
    @apply text-black text-sm;
  }
  & a {
    @apply text-sm;
  }
}

#{$module} .ml-form-embedWrapper {
  div.ml-form-successBody, 
  div.ml-form-embedBody {
    padding: 0 !important;
  }
}
