$module: '.custom_widget';

#{$module} {
  @apply mb-6;

  &__title {
    @apply font-semibold border-brown-200 border-b mb-2 w-full;
  }
}

#{$module}.widget_tag_cloud {
  a {
    @apply px-2 py-1 mb-2 mr-2 bg-brown-100;

    &:hover {
      @apply bg-primary-100;
    }
  }
}

#{$module}.widget_recent_entries {
  ul {
    @apply list-disc;
    padding-inline-start: 1rem;

    li { 
      @apply mb-2; 
      &::marker {
        @apply text-sm text-brown-500;
      }
    }
  }
}
