.custom_404 {
  @apply text-center;

  h1 {
    @apply text-primary-base font-bold text-6xl font-serif mb-4;
  }

  & .buttons {
    @apply mt-16 flex justify-center items-center space-x-5 text-sm;
  }

}