.custom_home {

  h1 {
    @apply font-serif text-4xl md:text-5xl md:leading-normal text-primary-base font-extrabold mb-10;
  }

  h2 {
    @apply text-3xl md:text-4xl text-primary-base font-bold mb-6 md:mb-8 font-serif;
  }
  .custom_widget__title {
    display:none;
  }
  .home {
    &__description {
      @apply mb-10;
      p {
        @apply mb-2;
      }
    }

    &__section {
      @apply pb-16 pt-8 border-black border-b;

      & > h3 {
        @apply mb-2 text-brown-400 font-serif font-extrabold;
      }
      &:last-child {
        @apply border-0;
      }
    }

    &__columns {
      @apply grid gap-10 md:grid-cols-2 md:gap-10;

      h3 {
        @apply text-xl font-extrabold text-primary-base mb-3 font-serif md:text-2xl;
      }

      small {
        @apply text-sm text-brown-400;
      }

      .button {
        @apply mt-8;
      }

      &__column {
        @apply md:mb-10;
      }
    }
  }
}
