.custom_single_post {
  .post {
    &__container { @apply max-w-xl mx-auto; }

    &__detail { @apply text-brown-500; }

    &__title {
      @apply text-4xl text-primary-base font-serif mb-2 font-bold pt-3 md:pt-10;
    }

    &__thumbnail { 
      @apply my-5 md:mb-8;
      & img {
        @apply h-44 md:h-80 w-full object-cover object-center;
      }
    }

    &__content {
      & h1,h2,h3,h4,h5,h6 { @apply font-bold font-serif mb-2; }
      & h1 { @apply text-5xl mt-4; }

      & h2 { 
        @apply text-3xl border-b border-brown-200 pb-1 mt-5 mb-3; 
      }

      & h3 { @apply text-2xl mt-5 mb-2; }
      & h4 { @apply text-xl mt-2; }
      & h5,h6 { @apply font-sans; }

      & img { @apply w-full h-auto my-2; }

      & p > code { @apply bg-brown-100 py-0.5 px-1.5 text-xs text-primary-base; }

      & blockquote {
        @apply border-l-4 border-primary-base bg-brown-100 p-3 my-2 text-primary-400;
      }

      & hr { @apply border-brown-300 my-4; }

      & ol, ul { @apply my-3 ml-5; }
      & ol { @apply list-decimal; }
      & ul { @apply list-disc; }
      & ul li ul { 
        list-style-type: revert;
        @apply my-1;
      }
      & ul li ul li ul { 
        list-style-type: square;
        @apply my-1;
      }
    }

    &___footer {
      @apply border-t border-b border-black mt-8 grid gap-0 grid-cols-1;

      @screen md { @apply mt-14 grid-cols-2; }

      & div:last-child {
        @apply border-t md:border-t-0 md:border-l border-black;
      }

      & div {
        @apply pt-6 pb-5 px-2 relative text-center;

        & span {
          @apply absolute top-0 left-0 p-2 bg-brown-100 text-xs text-primary-400;
        }
      }
    }
    &__back_btn { @apply mt-10 text-center; }
  }
}
