.projects {
  .summary { @apply mb-4; }
  .custom_container {
    @apply grid grid-cols-1 gap-6;
    @screen md {
      @apply grid-cols-2 gap-8 w-full;
    }
    @screen lg {
      @apply pr-0;
    }
  }
  .go_works {
    @apply mt-10 text-center w-full;
  }
  .project_preview {
    &__thumbnail {
      @apply overflow-hidden mb-2 h-60 flex justify-center items-center rounded-md;
      @screen md { @apply h-72; }
    }
    a:hover {
      img { @apply transform scale-105;}
    }
    a { @apply h-full; }
    img {
      @apply object-center object-cover transition-all duration-100 h-full;
    }
    &__title {
      @apply text-2xl font-serif font-bold text-primary-base mt-2;
      
    }
  }
  
}